<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ServicesConString" connectionString="Data Source=localhost;Initial Catalog=SeguridadBiblioteca;Integrated Security=True;TrustServerCertificate=True"/>
		<add name="NegocioConString" connectionString="Data Source=localhost;Initial Catalog=NegocioBiblioteca;Integrated Security=True;TrustServerCertificate=True"/>
	</connectionStrings>
	<appSettings>
		<add key="LanguagePath" value="Resources\I18n\idioma"/>
		<add key="SecurityRepositoryServices" value="ServicesSecurity.DAL.Implementations"/>
	</appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>